[Desktop Entry]
Encoding=UTF-8
Name=Meka
Comment=Sega 8-bit emulator with debugging/hacking tools
Exec=meka
Icon=meka
Terminal=true
Type=Application
Categories=Game;Emulator;

